* {
    margin: 0;
    padding: 0;
    line-height: 0;
}

body {
    text-align: center;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background: rgb(229, 229, 229);
    height: 500px;
    text-align: center;
    box-sizing: border-box;
}

.btn {
    width: 100px;
    padding: 50px 0;
    background: pink;
    color: white;
    margin: 10px auto;
    border-radius: 50px;
    transition: background 1s, transform 0.5s;
}

.btn:hover {
    background: salmon;
    transform: rotateY(360deg);
}