html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.grass, .sky, .road {
    position: relative;
}

.sky {
    height: 40%;
    background: skyblue;
}

.grass {
    height: 30%;
    background: seagreen;
}

.road {
    height: 30%;
    background: dimgrey;
    box-sizing: border-box;
    border-top: 10px solid grey;
    width: 100%;
}

.lines {
    box-sizing: border-box;
    border: 5px dashed white;
    height: 0px;
    width: 100%;
    position: absolute;
    top: 45%;
}

/* Elements to animate */
.mario {
    position: absolute;
    top: -70px;
    left: 0;
    animation-name: drive;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    /* animation-delay: 2s; */
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); /* common value ease, linear, ease-in, ease-out, ease-in-out */
}

.luigi {
    position: absolute;
    left: 0;
    animation-name: drive;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

/* keyframes */
@keyframes drive {
    from { transform: translateX(0)}
    to { transform: translateX(1300px)}
}

